@base-fs: 0.4rem;

body {
  .fs24;
}

/*栅格*/
.van-cell {
  display: flex;
  font-size: @base-fs;
  height: 100%;
  color: #333;
  line-height: 1.5;
  .pl(30);
  .van-field__control {
    .fs32;
  }
  .van-cell__value {
    input {
      min-height: 0.46666rem;
      outline: none;
      font-size: 0.4rem;
      line-height: 0.48rem;
    }
    textarea {
      outline: none;
      font-size: 0.4rem;
      line-height: 0.48rem;
      color: #666;
      border: none;
      flex: 1;
      padding-right: 0.4rem;
      padding-left: 0;
    }
  }
  .van-cell__title {
    padding: 0.373333rem 0;
    line-height: 0.48rem;
    display: flex;
    align-items: center;
  }
}

/*dialog*/
.van-dialog {
  overflow: hidden;
  padding: 0.533333rem 0.4rem;
  width: 8.533333rem;
  border-radius: 0.106667rem;
  background: #fff;
  .van-dialog__header {
    margin: 0.16rem auto;
    color: #333;
    text-align: center;
    font-weight: 700;
    font-size: 0.48rem;
    line-height: 0.666667rem;
  }
  .van-dialog__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 0.346667rem;
  }
  .van-button--default {
    background: #3190e8;
    color: #fff;
  }
  .van-dialog__message {
    font-size: 0.48rem;
  }
}

/*button*/
.van-button {
  flex: 1;
  padding: 0;
  height: 1.173333rem;
  border: 1px solid #ccc;
  border-radius: 0.053333rem;
  color: #666;
  font-size: 0.426667rem;
}

/*toast*/
.van-toast {
  width: auto;
  .fs32;
  .van-toast__text {
    .fs32;
  }
}

/*picker*/
.van-picker__toolbar {
  height: 1rem;
  .fs32;
  line-height: 1rem;
}
.van-picker-column {
  .fs32;
}

/*loading*/
.van-loading {
  margin: 0 auto;
  .width(50) !important;
  .height(50) !important;
}

/*swiper*/
.van-swipe {
  .height(420);
  .van-swipe__indicators {
    .height(25);
  }
  .van-swipe__indicators > i {
    .width(24);
    .height(24);
    &:not(:last-child) {
      .mr(18);
    }
  }
}

/*input*/
.van-search {
  height: 100%;
  background: #fff !important;
  .br(32);
  .van-icon-search {
    .fs32;
    color: #000;
  }
}
.van-search__input-wrap {
  .pl(50);
  .height(52);
  border: 0;
  outline: 0;
  background: #fff;
  & > input {
    .fs24;
    height: 100%;
    line-height: 1;
  }
}
.van-nav-bar__right{
  .van-nav-bar__text{
    color: #5f5b5b;
  }
}

/*icon*/
.van-icon {
  .fs32;
}

/*form*/
.van-cell .van-cell__value input{
  height: 100%;
  min-height: 100%;
}

/*popup*/
.van-popup--bottom {
  height: 100%;
  .van-cell{
    height: 2.06666667rem;
    background-color: #fff;
    padding: 0.2rem;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    min-height: 1.813333rem;
    .van-address-list__name,.van-address-list__address{
      font-size: 0.426667rem;
      color: #333;
    }
  }
  .van-cell__value{
    color: #333;
    padding-right: 34px;
    position: relative;
  }
  .van-radio__label{
    margin-left: 0.7rem;
  }
  .van-address-list__add .van-cell__text{
    color: #3190e8;
    font-size: 0.426667rem;
  }
  .van-icon{
    .fs(42);
  }
}
/*steps*/
.van-step{
  .fs(32);
}
.van-step__title{
  .fs(28);
}
.van-step--horizontal.van-step--process .van-icon{
  .fs(24);
}
.van-step--horizontal.van-step--process .van-step__circle-container{
  .top(50);
}
.van-steps--horizontal .van-steps__items{
  .pb(50);
}
.van-step--horizontal .van-step__line{
  .top(60);
}
.van-step--horizontal .van-step__circle-container{
  .top(60);
}
/*navbar*/
header {
  .van-nav-bar .van-icon {
    color: #5f5b5b;
  }
  .van-nav-bar__title {
    color: #5f5b5b;
  }
  .van-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #e7ded6;
    height: 1.173333rem;
  }
  .van-nav-bar__title {
    height: 100%;
    display: inline-block;
    .fs42;
    line-height: 2;
    text-align: center;
  }
  .van-nav-bar__left {
    height: 100%;
    display: flex;
    align-items: center;
    .fs(32);
  }
  .van-nav-bar__right {
    height: 100%;
    display: flex;
    align-items: center;
    .fs(32);
  }
  .title {
    width: 100%;
  }
}